.flexbox1{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.box_1{
    background-color: lightblue;
    width: 200px;
}
.box_2{
    background-color: lightpink;
    width: 75px;
}

.flexbox2{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.item_1{
    width: 50px;
    background-color: lightblue;
}
.item_2{
    flex: 1;
    background-color: lightpink;
}
.item_3{
    width: 75px;
    background-color: lightblue;
}

.flexbox3{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div_1{
    background-color: lightpink;
}
.div_2{
    background-color: lightpink;
}
.div_3{
    background-color: lightpink;
}
.div_4{
    background-color: lightpink;
}

.flexbox4{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    justify-content: space-between;

    border-color: gray;
    border-style: solid;
    border-width: 1px;
}
.item1{
    background-color: lightpink;
}
.item2{
    background-color: lightpink;
}